<aside class="prose">
  <section>
    <h2>Diccionario</h2>
    <ul>
      <li>
        <a href="/dashboard/dictionary">
          <lucide-icon [img]="BookOpenIcon"></lucide-icon>
          Glosario
        </a>
      </li>
    </ul>
    <h2>Ranking</h2>
    <ul>
      <li>
        <a href="/dashboard/ranking">
          <lucide-icon [img]="Ranking"></lucide-icon>
          Ranking
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Juegos</h2>
    <ul>
      <li>
        <details open>
          <summary>
            <lucide-icon [img]="Gamepad2Icon"></lucide-icon>
            Memorama
          </summary>
          <ul>
            <li>
              <a href="dashboard/memory/pvp"><lucide-icon [img]="OnlineIcon"></lucide-icon>En Linea </a>
            </li>
            <li>
              <a href="dashboard/memory/local"><lucide-icon [img]="LocalIcon"></lucide-icon> Local </a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <details open>
          <summary>
            <lucide-icon [img]="PuzzleIcon"></lucide-icon>
            Adivina
          </summary>
          <ul>
            <li>
              <a href="dashboard/guess/online">
                <lucide-icon [img]="OnlineIcon"></lucide-icon>En Linea
              </a>
            </li>
            <li>
              <a href="dashboard/guess/local"
                ><lucide-icon [img]="LocalIcon"></lucide-icon> Local
              </a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <details open>
          <summary>
            <lucide-icon [img]="ListIcon"></lucide-icon>
            Secuencia
          </summary>
          <ul>
            <li>
              <a href="dashboard/sequence/online">
                <lucide-icon [img]="OnlineIcon"></lucide-icon>En Linea
              </a>
            </li>
            <li>
              <a href="dashboard/sequence/local"
                ><lucide-icon [img]="LocalIcon"></lucide-icon> Local
              </a>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </section>
</aside>
