<div class="game-board">
  @for (card of cards(); track card.id) {
  <app-card [card]="card" (cardClick)="onCardClick(card)"></app-card>
  }
</div>
@if (isGameEnded()) {
<div class="modal modal-open">
  <div class="modal-box">
    <h2 class="font-bold text-lg">Congratulations!</h2>
    <p class="py-4">
      Completaste el juego en  {{ moves() }} movimientos y
      {{ elapsedTime() }} segundos.
    </p>
    <div class="modal-action">
      <button class="btn" (click)="backLevels()">Regresar</button>
      <button class="btn" (click)="restartGame()">Jugar Otra vez</button>
    </div>
  </div>
</div>
}
